



body, html {
      margin: 0;
  height: 100%;

 
  line-height: 140%;
  color: #666;
  text-align: center;
}

.p1 {
  
  min-height: 30%;
  background: blue;
  border: 6px solid yellow;
}
.p2 {
  background: url(img2.jpg);
  min-height: 60%;
    border: 6px solid yellow;
}
.p3 {
  background: url(img3.jpg);
  min-height: 100%;
  border: 6px solid yellow;
}

.p1, .p2, .p3 {
  position: relative;
  opacity: .75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}
.cols {
  float: left;
  width: 42%;
  padding: 0 4%;
  text-align: left;
    color: blue;
    background-color: yellow;
}
section {
  overflow: auto;
  padding: 50px 80px;
}
.back {
  overflow: auto;
  padding: 50px 80px;
  background-color: #323232;
  color: #f2f2f2;
}

@media (max-width: 768px) {
  .heading {
    font-size: 250%;
  }
  .heading-sm {
    font-size: 180%;
  }
  .cols {
    width: 100%;
    padding: 0;
    text-align: center;
      
  }
}




















